.logo{
	float: left;
}

.encabezado{
	text-align: center;
}
h1{
	display: inline-block !important;
	font-family: Arial !important;
	color: white !important;
	background-color: darkblue;
	border:solid lightblue 10px;
	padding: 5px;
	margin-top: 10px !important;
	display: flex;   
    flex-wrap: nowrap;
    width: 80%;
}


form input{
    margin-bottom: 10px;
}

.cuerpo{
	clear: both;
	font-family: sans-serif;
}

/*nav{
	text-align: center !important;
}

nav a{
	color: white;
	margin: 10px;
	padding: 20px 50px;
	text-decoration: none;
}*/

table{
    margin: 0 auto;
}

th, td, table{
	border: 1px solid black;
}

.pie h4{
	clear: both;
	font-family: Arial;
	text-align: right;
}

.alfabetica{
	list-style-type: lower-alpha !important;
}


ol{
	background-color: lightblue;
}

.list-group{
	padding: 10px;
	background-color: blue !important;
}


@media (max-width: 550px){
	h1{
		font-size: 1.5em !important;
	}
}

#logo{
	width: 90%;
}
@media (min-width: 760px) and (max-width: 991px){
	#logo{
		width: 50%;
	}
}


/** al menos desde aca se modifica bootstrap**/
.btn-warning{
	color: white !important;
}
button{
	font-weight: bold !important;
}

.table thead th{
	border: 1px solid black !important;	
}

thead{
	color: darkblue;
	background-color: lightblue;
	text-align: center;
}
.par{
	background-color: white;
}
.impar{
	background-color: lightgrey;
}

tr:nth-child(even){
	background-color: lightgrey;
}

tr{
	text-align: center;
}

.filaResaltada{
	font-weight: bold !important;
	color: red !important;	
}

form{
	margin-top: 5px;
}